{% extends "misdatos/index.html" %}
{% load static %}<!DOCTYPE html> 

{%block titulo%}

{%endblock titulo%}

{%block contenido%}
<table id= productos class="table table-striped">

<thead id= productos >
    <tr>
        <th> Id </th>
        <th> Descripcion </th>
        <th> Producto </th>
        <th> Precio </th>
    </tr>
</thead>
{% for c in producto %}
<tr id="productos">
    <td>{{c.id}}</td>
    <td>{{c.descripcion}}</td>
    <td> {{c.nombre}}</td>
    <td> {{c.precio}}</td>

</tr>
{% endfor %}
    
{%endblock contenido%}

