{% extends 'misdatos/index.html' %}
{% load static %}

{% block titulo %}
    <title>tienda cofee shop</title>
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <h2>Bienvenidos a la tienda de productos del cofee shop </h2>
        <p>a continuacion podras disfrutar de nuestra excelencia en productos y variedad</p>
        <p>nuestra selección de productos es de primera calidad, le garantizamos que usted disfritara de exelente experiencia en nuetros locales ubicados a su cercania  </p>
    </div>
    
    <table id= productos class="table table-striped">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Descripcion </th>
                    <th> Producto </th>
                    <th> Precio </th>
                </tr>
            </thead>
            {% for c in producto %}
            <tr>
                <td>{{c.id}}</td>
                <td>{{c.descripcion}}</td>
                <td> {{c.nombre}}</td>
                <td> {{c.precio}}</td>
            
            </tr>
            {% endfor %}
{% endblock contenido %}
